@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?967cfk');
  src:  url('fonts/icomoon.eot?967cfk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?967cfk') format('truetype'),
    url('fonts/icomoon.woff?967cfk') format('woff'),
    url('fonts/icomoon.svg?967cfk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-heart:before {
  content: "\f004";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-home:before {
  content: "\e900";
}
